body {overflow: hidden;
    background: #250c0ce8;;
  }
  .first_about_block{
    padding: 20px;
    background-color:#ffffff8f;

  }
  h1,h2,h3 {
    color: red;
   font-size: 10rem;
    font-weight: 600;
    line-height: 1.125;
  }